.snaz-cal * {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.snaz-error {
	background: rgba(202,37,37,.5);
}
.snaz-cal {
	display: none;
	background: #eee;
	border-radius: 3px;
	text-align: center;
	box-shadow: 0px 0px 12px 1px rgba(0,0,0,.4);
	font-family: Helvetica, Sans-Serif;
}
.snaz-cal.snaz-bound {
	position: absolute;
}
.snaz-cal.snaz-show {
	display: inline-block;
}
.snaz-current-cont {
	text-align: center;
	position: relative;
	background: rgba(0,0,0,.08);
	padding: 10px;
}
.snaz-control {
	cursor: pointer;
	border: 0px;
	height: 20px;
	width: 20px;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0px, -50%);
	transform: translate(0px, -50%);
	outline: 0px;
	border-radius: 100%;
	font-weight: bold;
	border: 1px solid #555;
	color: #555;
}
.snaz-control:after {
	display: block;
	position: absolute;
	line-height: 18px;
	width: 100%;
	text-align: center;
	line-height: 20px;
	top: -2px;
}
.snaz-control.prev {
	left: 10px;
}
.snaz-control.prev:after,
.snaz-control.next:after {
    content: "";
    width: 5px;
    height: 5px;
    border-right: 1px solid #555;
    border-top: 1px solid #555;
    position: absolute;
    top: 6px;
    left: 7px;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.snaz-control.next {
	right: 10px;
}
.snaz-control.next:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 5px;
}
.snaz-control:focus {
	border-color: #8dc63f;
	color: #8dc63f;
}
.snaz-current {
	text-transform: uppercase;
	display: inline-block;
	margin: 0px 2px;
	cursor: pointer;
	font-size: 14px;
	position: relative;
	outline: 0px;
}
.snaz-current:focus {
	color: #8dc63f;
}
.snaz-dd {
	position: absolute;
	z-index: 1;
	min-height: 100px;
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-shadow: 0px 2px 10px -3px rgba(0,0,0,.5);
	display: none;
	outline: 0px;
	color: black;
}
.snaz-dd.snaz-show {
	display: block;
}
.snaz-dd.year > .snaz-dd-entry {
	min-width: 50px;
}
.snaz-dd-entry {
	font-size: 12px;
	display: block;
	text-align: left;
	padding: 3px 5px;
	cursor: pointer;
	white-space: nowrap;
	border-bottom: 1px solid #ddd;
	outline: 0px;
}
.snaz-dd-entry:nth-last-child(1) {
	border-bottom: 0px;
}
.snaz-dd-entry:hover, .snaz-dd-entry:focus {
	background: #bbb;
	color: white;
}
.snaz-day-name-cont {
	padding: 0px 10px;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(0,0,0,.08);
	margin-bottom: 5px;
}
.snaz-day.name {
	font-size: 10px;
	font-weight: bold;
	color: #777;
	line-height: 26px;
}
.snaz-day-name-cont:after, .snaz-days-cont:after {
	content: "";
	display: block;
	clear: both;
}
.snaz-days-cont {
	width: -webkit-calc(30px * 7 + (10px * 2));
	width: -ms-calc(30px * 7 + (10px * 2));
	width: calc(30px * 7 + (10px * 2));
	padding: 10px;
	padding-top: 0px;
}
.snaz-day {
	display: inline-block;
	position: relative;
	font-size: 11px;
	font-weight: bold;
	width: 30px;
	height: 30px;
	outline: 0px;
	color: #555;
	border-radius: 50%;
}
.snaz-day:before {
	content: "";
	display: block;
	padding-top: calc(100% * .67);
}
.snaz-day:after {
	content: attr(data-value);
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.snaz-day:nth-child(7n+1) {
	clear: left;
}
.snaz-day.full {
	cursor: pointer;
}
.snaz-day.full:hover {
	background: #ccc;
}
.snaz-day:focus {
	background: #ccc;
}
.snaz-day.selected {
	color: white;
	background: #bbb;
}